@model List<Pokemon>

@{
    Layout = null;
    ViewData["Title"] = "Pokedex";

}

<script type="text/javascript">

    function AddPokemonDetails(pokemonUrl, pokemonName) {
        $.post('@Url.Action("PokemonDetails", "Home")',
            {"pokemonDetail" : pokemonUrl})
        .done(function (data) {
                $("#" + pokemonName).html(data);
                $("#" + pokemonName).slideToggle();
                //alert("Sucesso");
        })
        .fail(function(){
            alert("falha ao buscar os detalhes");
        });
    }
    $(document).ready(function(){

        //$("#pokemonTable").find("button").click(function(){
        //    $(this).toggleClass("fa-angle-right");
        //    $(this).toggleClass("fa-angle-down");
        //})

        $("#searchBtn").click(function(){
            var text = $("#searchBar").val();
            $.ajax({
            url: '@Url.Action("Index", "Home")',
            type: 'POST',
            data: {pokemonSearched: text},
            success: function (data) {
                $("#pokemonTableBody").empty();
                $("#pokemonTableBody").html(data);
                    //alert("Sucesso");
            },
            failure: function(){
                alert("falha ao buscar os detalhes");
            }
        });
        })
    })

</script>
<table class="table table-striped w-100" id="pokemonTable">
    <tbody id="pokemonTableBody">

        @foreach (var pokemon in Model)
        {
            string name = pokemon.Name;
            string pokemonName = char.ToUpper(name[0]) + name.Substring(1);
            <tr id="detailLine">
                <td>@pokemonName</td>
                <td id="moves" class="text-right pr-5">                    
                    <button type="button" id="detailsBtn" onclick="AddPokemonDetails('@pokemon.UrlDetail', '@pokemonName')" class="fas fa-angle-right text-dark bg-transparent border-0"></button>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="@pokemonName" style="display:none;"></div>
                </td>
            </tr>
        }
    </tbody>
</table>
